@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    scale: 0;
  }
  20%{
    scale: 1.1;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.fadeInAnimationCards {
  animation: fadeInAnimation 0.4s forwards;
}

.note:hover .edit-box{
    opacity: 1;
}