@keyframes fadeInAnimation {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.fadeInAnimationCards {
  animation: fadeInAnimation 0.3s forwards;
}

.note:hover .edit-box{
    opacity: 1;
}